<li class="list-group-item shows">
  <section><h5>{{Show.Movie.title}}</h5></section>
  <section>
    <span>{{Show.date}}</span>
    <span class="space">{{Show.Screen.name}}</span>
    <span class="space">{{Show.ShowTime.name}}</span>
  </span>
  <section>Seats reserved: {{seatsReserved}}</section>
</li>