<li class="list-group-item shows movie">
  <section>Movie: {{Show.Movie.title}}</section>
  <section>date: {{Show.date}}</section>
  <scetion>Screen: {{Show.Screen.name}}</section>
  <section>Show Time: {{Show.ShowTime.name}}</section>
  <section>Seats reserved: {{seats}}</section>
</li>