  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Theatre Management Admin Page</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/adminadd">Add a Movie</a></li>
      </ul>
      <ul class = "navbar-nav navbar-right pull-right">
        <li class="nav-item"><a class="nav-link pull-right" href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
         <li class="nav-item"><a class="nav-link pull-right" href="/logout">logout</a></li>
      </ul>
    </div>
  </nav><br><br><br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>

      <div class="col-sm-2">
        <div class="row">
          <h2>Currently Showing</h2>
        </div>
        <div class="row">
          <ul class="list-group" id="current">
{{!--             {{#each currentmovies}}
              <button class="list-group-item" data-value={{title}}>{{title}}</button>
            {{/each}} --}}
          </ul>
        </div><br>

        <div class="row">
          <h2>Coming Soon</h2>
        </div>
        <div class="row">
          <ul class="list-group" id="comingsoon">
{{!--             {{#each comingsoonmovies}}
              <button class="list-group-item" data-value={{title}}>{{title}}</button>
            {{/each}} --}}
          </ul>
        </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col-sm-7">
        <div id="adminLandingShowScreen">
          <div class="row">
            <h1 id="adminLandingScreenMovieTitle"></h1>
          </div><br>

          <h2>Screen 1</h2>
          <div id="adminLandingScreen1">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><h3>Date</h3></th>
                  <th><h3>Time</h3></th>
                </tr>
              </thead>
              <tbody id="tableScreen1">
              </tbody>
            </table>
          </div><br>

          <h2>Screen 2</h2>
          <div id="adminLandingScreen2">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><h3>Date</h3></th>
                  <th><h3>Time</h3></th>
                </tr>
              </thead>
              <tbody id="tableScreen2">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var current;
    var comingsoon;

    $.get("theatre/api/movie/running", function(data) {
      current = data;
      current.forEach(function(e) {
        var temp = $("<button>").attr("class", "list-group-item text-left").attr("data-value", e.title).attr("data-id", e.id).html("<h5>" + e.title + "</h5>");
        $("#current").append(temp);
      })
    })

    $.get("theatre/api/movie/comingsoon", function(data) {
      comingsoon = data;
      comingsoon.forEach(function(e) {
        var temp = $("<button>").attr("class", "list-group-item text-left").attr("data-value", e.title).attr("data-id", e.id).html("<h5>" + e.title + "</h5>");
        $("#comingsoon").append(temp);
      })
    })

    function enable() {    
      $(".list-group-item").on("click", function(event) {
        event.preventDefault();
        console.log("click")
        var temp = $(this).attr("data-value")
        $.get("/theatre/api/show/movie/" + $(this).attr("data-id"), function(data) {
          console.log(data);
          var schedule = data;
          $("#tableScreen1").empty();
          $("#tableScreen2").empty();
          console.log(temp)
          var title = $("<p>").html("Showtimes for: " + temp).attr("class", "animated flash")
          $("#adminLandingScreenMovieTitle").html(title)
          schedule.forEach(function(e) {
            var newrow = $("<tr>")
            var date = $("<td>").html("<h5>"+e.date+"</h5>")
            var time = $("<td>").html("<h5>"+e.ShowTime.name+"</h5>")
            newrow.append(date, time)
            if (e.screenId === 1) {
              $("#tableScreen1").append(newrow)
            } else {
              $("#tableScreen2").append(newrow)
            }
          })
        })
      })
    }

    var title = $("<p>").html("Select a title to view showtimes").attr("class", "animated flash")
    $("#adminLandingScreenMovieTitle").html(title)
    setTimeout(enable, 200);
  </script>